:root {
  --logo-web-color: #4d5ae5;
  --primary-font: "Roboto", sans-serif;
  --sekondary-font: "Raleway", sans-serif;
  --akcent-color: #404bbf;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  color: #ffffff;
  display: block;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* .............HEADER............. .*/
.top-header-in {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  padding-left: 0;
  padding-right: 0;
}
.header-container {
  display: flex;
}
.top-nav {
  display: flex;
}

.nav-container {
  display: flex;
}
.logo {
  margin-right: 76px;
}
.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  justify-content: flex-end;
}
.address-item:nth-child(1) {
  margin-right: 40px;
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.web {
  font-family: var(--sekondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-web-color);
}

.studio-header {
  font-family: var(--sekondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mail,
.phone-number {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail:hover,
.mail:focus {
  color: var(--akcent-color);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--akcent-color);
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-item:hover,
.menu-item:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--akcent-color);
}

/* .............MAIN............. */

.section-1 {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.btn:hover,
.btn:focus,
.btn-in:hover,
.btn-in:focus {
  background: var(--akcent-color);
  color: #ffffff;
}
.btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}
.btn-in {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  margin-top: 48px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
}
.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px 48px;
}
.main-content-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.hero {
  background: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-list {
  display: flex;
  justify-content: center;
}
.list-advantages {
  width: 264px;
}

.list-advantages:not(:last-child) {
  margin-right: 24px;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 8px;
  border: 1px solid #e7e9fc;
}
.main-list-2 {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 500px;
}
.title-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}
.title-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  justify-content: center;
}
.devices {
  margin-bottom: 120px;
}
.box-img:not(:last-child) {
  margin-right: 24px;
}
.list-img {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list:not(:last-child) {
  margin-right: 24px;
}
.team-list {
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.team-txt {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-title {
  margin-bottom: 8px;
  padding-right: 49px;
  padding-left: 49px;
  text-align: center;
}
.list-team {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}
.list-content {
  display: flex;
}

/* .............FOOTER............. */
.footer {
  background: #2e2f42;
}
.studio-foot {
  font-family: var(--sekondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.foot-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  margin-top: 16px;
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
